body {
    background-color: #3d0e0e;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: #965c5c;
    text-align: center;
}

ol {
    text-align: left;
    margin: 0 auto;
    width: 40%;
}